<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Friends</title>
</head>
<body>
    <div class="container">
        <h1 class="title">Friends</h1>
        <div class="content">
            <ul>
                <% for(let i = 0; i < friendsList.length; i++) { %>
                <li>
                    <a href="/friends/<%=i%>"> 
                        <h3><%= friendsList[i].name %></h3></a>
                </li>
                <% } %>
            </ul>
        </div>
    </div>
</body>
</html>